.navbar {
  height: 10vh;
  width: 100vw;
  border-bottom: 1px solid rgb(185, 183, 183);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 25px;
  background-color: rgb(100, 100, 100);
  position: sticky;
  z-index: 800;
  top: 0;
}
.title {
  height: 10vh;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title a {
  text-decoration: none;
}
.title h1 {
  font-size: 28px;
  font-weight: 800;
  margin-left: 30px;
  color: white;
  cursor: pointer;
}
.navOptions {
  height: 10vh;
  width: 60vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  padding-right: 40px;
}
.navOptions a {
  text-decoration: none;
  color: white;
}
.navOptions h3 {
  padding-left: 20px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
.navOptions img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.row {
  margin: 0;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-bottom: 20px;
}
.button button {
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  border: 1px solid black;
  border-radius: 15%;
  padding: 6px;
}
.load {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.mobileMenu {
  display: none;
}

@media (max-width: 750px) {
  .navbar {
    height: 10vh;
    margin-bottom: 20px;
  }
  .title {
    height: 12vh;
  }
  .title h1 {
    font-size: 24px;
    margin-left: 22px;
  }
  .navOptions {
    height: 12vh;
    gap: 0;
  }
  .navOptions {
    display: none;
  }

  .button button {
    font-size: 12;
    padding: 4px;
  }
  .head h1 {
    font-size: 24px;
  }
  .head span {
    margin-left: 160px;
  }
  .mobileMenu {
    display: block;
    height: 12vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
  }
  .mobileMenu img {
    height: 32px;
    width: 32px;
    cursor: pointer;
  }
}
.menuOptions {
  height: 40vh;
  width: 80vw;
  filter: blur(8);
  background-color: grey;
}

.dis {
  display: none;
}

.mobileMenuDisplay {
  position: absolute;
  right: 0;
  height: 87vh;

  background-color: rgb(100, 100, 100);
  transition: all ease 0.5s;
  animation: mmdisplay 0.5s forwards;
  z-index: 999;
}
@keyframes mmdisplay {
  from {
    width: 0vw;
  }
  to {
    width: 70vw;
  }
}

.closeMobileMenuDisplay {
  position: absolute;
  right: 0;
  height: 0vh;
  display: hidden;
  background-color: rgb(100, 100, 100);
  transition: all ease 0.5s;
  animation: mmdisplay 0.5s forwards;
  z-index: 0;
}
@keyframes cmmdisplay {
  from {
    width: 70vw;
  }
  to {
    width: 0vw;
  }
}
.responsiveMenu {
  flex-direction: column;
}
.responsiveMenu h3 {
  padding-left: 20px;
  padding-top: 30px;
}

.responsiveMenu img {
  position: absolute;
  bottom: 15px;
  right: 28vw;
}
